body {
	background-color: @cogsci-color-body;
}

.cogsci-banner {
	background: url("http://cogsci.nl/share/images/revisited/banner10.png") top left no-repeat;
	height: 100px;
	margin-bottom: 16px;
}

.cogsci-arrow-left,
.cogsci-arrow-right {
	color: @cogsci-color-link-hover;
	font-size: 1.2em;
	padding: 8px;
}

.cogsci-footer {
	background-color: @cogsci-color-box;
	border-top: solid 1px @cogsci-color-border;
	color: @cogsci-color-secondary;
	padding: 8px 16px 8px 16px;
	font-family: @cogsci-font-condensed;
}

.cogsci-container {
	box-shadow: 0px 0px 20px grey;
	max-width: 900px;
	background-color: #ffffff;
}

// Content -- where the articles go

.cogsci-content {
	// width: 100%;
	@media screen and (min-width: @screen-md) {
		width: 644px;
	}
	padding: 0px;
	margin: 16px;

	#system-readmore {
		display:none!important;
	}

	p {
		text-align: justify;
	}

	pre,
	code,
	a {
		word-wrap: break-word;
		font-size: 100%;
	}

	pre {
		background-color: #272822;
		color: @cogsci-color-background;
		font-family: @cogsci-font-mono!important;
	}
	
	pre code {
		background-color: #272822;
		color: #e6db74;
	}

	code {
		background-color: white;
		color: @cogsci-color-code;
		font-family: @cogsci-font-mono!important;
		padding: 0px;
	}

	.item-type {
		color: @cogsci-color-code;
		font-family: @cogsci-font-serif;
	}

	img {
		max-width: 640px;
		.img-responsive;
	}

	.footnote {
		font-size: @font-size-small;
	}

	.pager {
		padding-top: 8px;
		font-family: @cogsci-font-condensed;
		border-top: solid 1px @cogsci-color-border;
		padding-top: 32px;
		text-align: left;
	}

	h1,
	h2,
	h3 {
		padding-left: 8px;
		margin-left: -9px;
		border-left: solid 1px @cogsci-color-border;
	}

	.pager li a {
		border-radius: @cogsci-border-radius!important;
	}

	.reference,
	p .reference,
	.reference p,
	.cogsci-bibliography p {
		text-indent: -16px;
		margin-left: 16px;
		text-align: left;
	}

	small {
		font-size: @font-size-small!important;
		color: @cogsci-color-secondary!important;
	}

	.embed-responsive {
		margin: 8px 0px 12px 0px;
	}

	.img-right {
		float: right;
		margin: 16px 0px 16px 16px;
	}

	.img-left {
		float: right;
		margin: 16px 0px 16px 16px;
	}

	blockquote {
		font-family: @cogsci-font-serif;
		font-size: 1.2em;
	}
}

// Sidebar layout

.cogsci-social {
	height: 48px;
	margin-right: -4px;
	margin-bottom: 24px;


	.cogsci-blog,
	.cogsci-twitter,
	.cogsci-facebook {
		margin-right: 20px;
	}
}

.cogsci-share {
	background-color: @cogsci-color-box;
	border: solid 1px @cogsci-color-border;
	border-radius: 4px;
	padding: 8px 0px 4px 8px;
	margin-bottom: 16px;
	height: 38px;
}

.cogsci-sidebar {
	width: 192px;
	margin: 16px;
	padding: 0px;
}

.cogsci-sidebar-header,
.cogsci-sidebar-first-header {
	color: @cogsci-color-secondary;
	font-size: 0.8em;
	text-align: center;
	display: block;
	font-family: @cogsci-font-condensed;
}

.cogsci-sidebar-header {
	margin: 16px 0px 16px 0px;
}

.cogsci-sidebar-first-header {
	margin: 0px 0px 16px 0px;
}

.cogsci-sidebar ul {
	padding-left: 0px;
}

.cogsci-side-menu li {
	list-style-type: none;
	margin: 0px;
	border-bottom: solid 1px @cogsci-color-border;
	padding: 8px 0px 8px 0px;
}

.cogsci-side-menu .active a {
	font-weight: bold;
}

// Title bar layout

.cogsci-page-title {
	display: block;
	font-size: 1.5em;
	background-color: @cogsci-color-box;
	border-top: solid 1px @cogsci-color-border;
	border-bottom: solid 1px @cogsci-color-border;
	border-radius: 1px;
	margin-bottom: 8px;
}

.cogsci-page-title-left {
	max-width: 192px;
	margin: 16px;
	height: 48px;
	padding: 0px 0px 0px 64px;
	background: url('../img/cogsci.png') top left no-repeat;
	color: @cogsci-color-brand;
	font-size: 0.7em;
	font-family: @cogsci-font-condensed;
}

.cogsci-page-title-right {
	color: @cogsci-color-header;
	margin: 16px 16px 16px 0px;
	line-height: 125%;
	font-family: @cogsci-font-serif;
}

.cogsci-page-title-right .cogsci-une {
	color: @cogsci-color-secondary;
}

// Article layout

.cogsci-article-summary {
	margin-bottom: 32px;
}

h2.cogsci-article-title-1 {
	border-top: none!important;
	padding: 0px!important;
}

.cogsci-article-title {
	margin-top: 0px;
	display: block;
	font-size: 1.5em;
	border-top: solid 1px @cogsci-color-border;
	border-left: none!important;
	margin-left: 0px!important;
	margin-bottom: 16px!important;
	border-radius: 1px;
	padding: 16px 0px 0px 0px!important;
}

.cogsci-article-metadata {
	float: right;
	color: @cogsci-color-secondary;
	text-align: right;
	font-size: 0.8em;
	margin-left: 16px;
	margin-bottom: 16px;
	margin-right: -20px;
	padding: 4px 20px 4px 16px;
	border-left: solid 1px @cogsci-color-border;
	font-family: @cogsci-font-condensed;
}

.cogsci-article-metadata address {
	margin: 0px;
}

.cogsci-article-readmore {
	color: @cogsci-color-link;
	font-family: @cogsci-font-condensed;
	margin-top: 16px;
}

// Top menu

.cogsci-top-menu {

	.navbar-collapse,
	.navbar {
		border: none!important;
	}

	.navbar {
		background-color: @cogsci-color-box!important;
		border-bottom: solid 1px @cogsci-color-border!important;
	}

	li {
	}

	li a {
		color: @cogsci-color-secondary!important;
	}

	li.active a {
		background-color: @cogsci-color-box!important;
		font-weight: bold;
	}

	.navbar-brand {
		padding: 8px;
	}

	.navbar-brand img {
		height: 32px;
	}
}

// Floating title and social buttons

.affix {
	top: 0px;
	left: 0px;
	width: 100%;
	border-radius: 0px;
	height: auto;
	margin: 0px;
	box-shadow: 0px 0px 20px grey;
}

.cogsci-floating-title,
.affix-top .cogsci-floating-title {
	display: none;
}

.affix .cogsci-floating-title {
	display: block;
	font-family: @cogsci-font-serif;
	color: @cogsci-color-header;
	padding-bottom: 8px;
}

// Iframes

.cogsci-spreadsheet-iframe,
.cogsci-gabor-iframe {
	padding-bottom: 300%;
}

.cogsci-search {
	min-width: 192px;
	margin-bottom: 16px;
	input,
	button {
		height: 40px;
		font-family: @cogsci-font-condensed;
	}
}
