.cogsci-gsc {
	// width: 100%;
	@media screen and (min-width: @screen-md) {
		width: 644px!important;
	}
	padding: 0px;
	margin: 16px;
	
	.gsc-control-cse {
		padding: 0px!important;
	}
	
	.gsc-search-button
	{
	    background-color: @cogsci-blue-background;
	    border-radius: 5px;
	}

	input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
		background-color: @cogsci-blue-background !important;
		background-image: url("http://www.google.com/uds/css/v2/search_box_icon.png") !important;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		height: 16px!important;
		border-color: @cogsci-blue-background !important;
		filter: none;
	}	
	
	.gsc-input-box {
		height: 32px;
	}
	
	.gsc-url-top,
	.gsc-thumbnail-inside,
	.gsc-table-result {
		padding: 0px!important;
	}
	
	.gsc-cursor-box,
	.gsc-results {
		margin-left: 0px!important;
	}
}
