.cogsci-content-nvp {
	padding: 16px;
}

.cogsci-social-row-nvp {
	margin-top: 8px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-top: solid 1px #cfd8dc;
	background-color: #eceff1;
}

.cogsci-banner-nvp {
	background: url("../img/banner.png") top left no-repeat;
	height: 125px;
	border-bottom: solid 2px @cogsci-color-border;
}
