.cogsci-content .lst-caption,
.cogsci-content .tbl-caption,
.cogsci-content .vid-caption,
.cogsci-content .fig-caption {
	font-family: @cogsci-font-condensed;
	margin: 8px 0px 32px 0px;
}

// .cogsci-content iframe,
// .cogsci-content table,
// .cogsci-content img {
// 	margin-top: 32px;
// }

.cogsci-content .info-box {
	padding: 16px 16px 8px 16px;
	background-color: @cogsci-color-box;
	border: solid 1px @cogsci-color-border;
	border-radius: @cogsci-border-radius!important;
	margin-bottom: 16px;
	h3 {
		margin-top: 0px;
		margin-left: 0px;
		padding-left: 0px;
		border: none;
	}
}

.cogsci-navbar {
	background-color: @cogsci-color-box!important;
	border-color: @cogsci-color-border!important;
	border-radius: 0px!important;
	border-left: none!important;
	border-right: none!important;
	font-family: @cogsci-font-condensed;

	a {
		color: @cogsci-color-foreground!important;
	}
}

.cogsci-content {

	.toc {
		.cogsci-content .info-box;
		.toctitle {
			font-family: @cogsci-font-condensed;
			color: @cogsci-color-secondary;
			display: block;
			margin-bottom: 8px;
		}
	}

	.YAMLDoc h2,
	.YAMLDoc h1 {
		.cogsci-content .info-box;
		padding-top: 8px;
		margin-left: 0px;
	}

	.YAMLDoc h1 {
		margin-top: 32px;
	}

	.page-notification {
		.alert;
		.alert-info;
	}

	h1 {
		font-size: 1.5em;
		margin-top: 0px;
		margin-bottom: 32px;
	}
	.btn-align-left {
		text-align: left;
	}
	.breadcrumb {
		background: none;
		border: none;
		padding: 0px;
		font-family: @cogsci-font-condensed;
	}
	.cogsci-translation-link {
		font-family: @cogsci-font-condensed;
		color: @cogsci-color-secondary;
		margin-bottom: 16px;
		margin-left: 16px;
		float: right;
	}
	.cogsci-contribute {
		margin-bottom: 16px;
		.btn {
			height: 70px;
			width: 100px;
			background-position: center 30px;
			background-repeat: no-repeat;
		}
		.btn-face-grin {
			background-image: url('../img/face-grin.png');
		}
		.btn-face-smile {
			background-image: url('../img/face-smile.png');
		}
		.btn-face-smile-big {
			background-image: url('../img/face-smile-big.png');
		}
		.btn-face-angel {
			background-image: url('../img/face-angel.png');
		}
	}
	.osdoc-edit-link {
		float: right;
		font-family: @cogsci-font-condensed;
		font-size: @font-size-small;
		a {
			color: @cogsci-color-secondary;
		}
	}
}

.cogsci-python-learn {
    margin-bottom: 24px;
}

.osdoc-banner {
	background: url("../img/banner.png") top left no-repeat;
	height: 125px;
	border-bottom: solid 2px @cogsci-color-border;
}

.cogsci-content .btn .cogsci-btn-info {
	font-family: @cogsci-font-condensed;
	color: @cogsci-color-secondary;
}

.cogsci-menuitem-header {
	color: @cogsci-color-secondary;
	margin-left: 20px;
	margin-right: 20px;
}

.osdoc-container {
	box-shadow: 0px 0px 20px grey;
	max-width: 1124px;
	background-color: #ffffff;	
}

// Large screen / wide desktop
@container-large-desktop:      1124px;
//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;
